
@main {

    <div class="container">
        <h1>Matrix Miner</h1>



        <div id="editor" ng-controller="PCMEditorController">

            <div id="matrix" class="row" ui-grid="gridOptions" ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-move-columns ui-grid-resize-columns>
            </div>

        </div>

        <div ng-controller="OverviewController">
            <a ng-click="upd('');"> > </a>
            <p id="category"> > {{category}}</p>
            <ul ng-repeat="subcategory in subcategories">
                <li ng-click="upd(subcategory);">{{subcategory}}</li>
            </ul>



            {{message}}
            <p ng-repeat="overview in overviews">
                {{overview}}
            </p>
        </div>
    </div>



}
