
@main {

    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oc-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id="navbar-logo" src='@routes.Assets.versioned("images/logo.png")' height="25"  >
                        @*Matrix Miner*@
                </a>

            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">

        <div ng-controller="PCMListController">

            <h4>Choose a sample</h4>
            <form class="form-inline">
                <div class="form-group">
                    <label for="dataset">Dataset</label>
                    <select ng-model="selectedDataset" class="form-control" id="dataset" ng-change="list('dataset')" ng-change="clearDatasets()" ng-disabled="datasets.length === 0">
                        <option ng-repeat="dataset in datasets">{{dataset}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select ng-model="selectedCategory" class="form-control" id="category" ng-change="list('category')" ng-disabled="categories.length === 0">
                        <option ng-repeat="category in categories">{{category}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="filter1">Filter 1</label>
                    <select ng-model="selectedFilter1" class="form-control" id="filter1" ng-change="list('filter1')" ng-disabled="filters1.length === 0">
                        <option ng-repeat="filter in filters1">{{filter}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="filter2">Filter 2</label>
                    <select ng-model="selectedFilter2" class="form-control" id="filter2" ng-change="list('filter2')" ng-disabled="filters2.length === 0">
                        <option ng-repeat="filter in filters2">{{filter}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="pcm">PCM</label>
                    <select ng-model="selectedPCM" class="form-control" id="pcm" ng-disabled="pcms.length === 0">
                        <option ng-repeat="pcm in pcms">{{pcm}}</option>
                    </select>
                </div>
                <button class="btn btn-default" ng-click="load()" ng-disabled="selectedPCM === undefined">Load</button>
            </form>

            @*<i class="fa fa-spinner fa-pulse" ng-show="loading"></i>*@

        </div>

        <br/>

        <div id="editor" ng-controller="PCMEditorController">
            <div id="matrix" class="row" ui-grid="gridOptions" ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-move-columns ui-grid-resize-columns>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div ng-controller="OverviewController">
                    <h4>Textual overview</h4>
                    <div highlight="text" keywords="keywords" highlight-class="highlight">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div ng-controller="SpecificationController">
                    <h4>Specification</h4>
                    <table class="table">
                        <tr>
                            <th>Feature</th>
                            <th>Value</th>
                        </tr>
                        <tr ng-repeat="row in specification | filter:filterFeature">
                            <td>{{row.feature}}</td>
                            <td>{{row.value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>



}
