@(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="matrixMinerApp">
    <head>
        <title>Matrix Miner</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.min.css"))'>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/openCompareEditor.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>

        @content

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='http:////cdn.rawgit.com/angular-ui/ui-grid.info/gh-pages/release/3.0.0-rc.22/ui-grid.min.js'></script>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js'></script>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/angular-highlight.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/openCompareEditor.js")'></script>

        <script>
            var matrixMinerApp = angular.module("matrixMinerApp", ['openCompare', 'angular-highlight']);
        </script>

        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/kmf/pcm.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/pcm-api.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/pcm-editor-controller.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/pcm-list-controller.js")'></script>
        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/overview-controller.js")"></script>
        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/specification-controller.js")"></script>

    </body>
</html>
