@(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="matrixMinerApp">
    <head>
        <title>Matrix Miner</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.min.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("smoothness/jquery-ui.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("material.min.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-chart.css"))'>
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/editor.css")'>

    </head>
    <body>

            <!-- Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oc-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="navbar-logo" src='@routes.Assets.versioned("images/logo.png")' height="25"  >
                        @*Matrix Miner*@
                    </a>

                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container-fluid" ng-controller="I18nCtrl">

        @content

        </div>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-translate.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/arrive.min.js")'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("material.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("src/slider.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-utf8-base64.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("Chart.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-chart.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("dist/angular-base64-upload.min.js"))'></script>


        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/opencompare-editor.js")'></script>

        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/angular-highlight.js")'></script>


        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jquery.nouislider.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/nouislider.min.js")'></script>

        <script>
            angular.module("matrixMinerApp", ['openCompareEditor', 'angular-highlight', 'ab-base64', 'nouislider']);
        </script>


        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/controllers/PCMListCtrl.js")'></script>
        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/controllers/OverviewCtrl.js")"></script>
        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/controllers/SpecificationCtrl.js")"></script>

        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/controllers/EvalCtrl.js")"></script>
        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/controllers/EditorSelectionCtrl.js")"></script>

        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/controllers/I18nCtrl.js")"></script>


    </body>
</html>
